/* font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/*---- common css start ----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.container {
    width: 1360px;
    margin: 0 auto;
}

.btn {
    padding: 12.5px 16px;
    font-weight: 600;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn:hover {
    background-color: transparent;
    color: #469165;
    border: 1px solid #469165;

}


/*---- common css end ----*/

/*---- nav section start ---- */
header {
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu ul {
    display: flex;

}

header .menu ul li {
    margin: 0 32px;

}

header .menu ul li a {
    color: #000000;
    font-weight: 500;

}

header .menu ul li a:hover {
    color: #469165;

}

/*---- nav section end ---- */

/*---- banner section start ---- */
.banner {
    background-image: url(./../assets/banner-image.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
    z-index: 1;

}

.banner .overley::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #001931;
    opacity: 80%;
    z-index: -1;
}

.banner .banner-content {
    text-align: center;
    padding: 115.5px 0 163.5px 0;
}

.banner .banner-content .first-content {
    display: inline-block;
}

.banner .banner-content .first-content h2 {
    padding: 8px 12px;
    background-color: #FFFFFF;
    border-radius: 100px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
    line-height: 100%;
    display: flex;
}

.banner .banner-content .first-content h2 span {
    margin-right: 6px;
}

.banner .banner-content h1 {
    font-weight: 700;
    color: #469165;
    font-size: 72px;
    text-transform: capitalize;
}

.banner .banner-content h1 span {
    font-weight: 700;
    color: #FFFFFF;
    font-size: 72px;
}

.banner .banner-content p {
    margin: 6px 0 32px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

.banner .banner-content .button-grup {
    display: inline-block;
    margin-right: 16px;
}

.banner .banner-content .button-grup .btn {
    display: flex;
}

.banner .banner-content .button-grup .btn img {
    margin-left: 10px;
}

.banner .banner-content .button-grup .btn:hover {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

/*---- banner section end ---- */

/*---- notes section start ---- */
.notes-area .section-heading {
    text-align: center;
    margin-top: 60px;
}

.notes-area .section-heading h2 {
    font-weight: 700;
    font-size: 48px;
    color: #001931;
    text-transform: capitalize;
}

.notes-area .section-heading p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;

}

.notes-area .card-area {
    display: flex;
    gap: 24px;
}

.notes-area .card-area .card {
    text-align: center;
    box-shadow: 0 0 8px 0 #00000018;
    border-radius: 8px;
    padding: 65px 30px 30px;
    margin-top: 60px;
}

.notes-area .card-area .card:hover {
    background-color: #F95555;
}

.notes-area .card-area .card .icon {
    padding: 15px;
    background-color: #F95555;
    border-radius: 100%;
    border: 1px solid transparent;
}

.notes-area .card-area .card:hover .icon {
    border: 1px solid #FFFFFF;
}

.notes-area .card-area .card h3 {
    font-weight: 600;
    font-size: 24px;
    color: #001931;
    margin: 16px 0;
    text-transform: capitalize;
}

.notes-area .card-area .card p {
    font-weight: 400;
    font-size: 16px;
    color: #627382;
}

.notes-area .card-area .card:hover h3,
.notes-area .card-area .card:hover p {
    color: #FFFFFF;
}
/*---- notes section end ---- */